
body{
    font-family: sans-serif;
    font-size: larger;



}
nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    padding: 15px;
    border-radius: 15px;
    word-spacing: 40px  ;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(195, 225, 255));
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #7cb0ff;
  }
p{
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgb(195, 225, 255);
    padding: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to top right,rgb(195, 225, 255) , rgb(255, 255, 255));

}
.imgcent{
    text-align: center;
    background-color: rgb(195, 225, 255);
    padding: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to top right,rgb(195, 225, 255) , rgb(255, 255, 255));
}
.splash{
    width: 80vw;
}
.dataform{
    margin-left: 15px;
    margin-right: 30px;
    background-color: rgb(195, 225, 255);
    background-image: linear-gradient(to top right,rgb(195, 225, 255) , rgb(255, 255, 255));
    padding: 15px;
    border-radius: 15px;
    font-size: large;
    float:center;


}
.logo{
    width: 30vw;

}
input[type="text"], input[type="email"], textarea,  input[type="submit"]
{
    font-size:24px;
}
.banner{
    position: static;
    top: 0;
    float: right;
    width: 20vw;
}
.banner2{
    position: static;
    top: 0;
    float: center;
    width: 20vw;
}
.imgtxt{
    float:left;
    margin-right: 20px;
    clear: left;
}