
body{
    font-family: sans-serif;
    font-size: larger;
    flex-direction:column;
    justify-content: space-between;
}

h1{
  margin: 50px;
  text-align: center;
  color:darkblue;

}

nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    padding: 15px;
    border-radius: 15px;
    word-spacing: 40px  ;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    display: inline;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(195, 225, 255));
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 1s ease;
  }

  li a:hover {
    background-color: #b1d0ff;
  }
  li:last-child{
    text-align: right;
    float: right;
    word-spacing: 0px;
  }
p{
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgb(195, 225, 255);
    padding: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to top right,rgb(195, 225, 255) , rgb(255, 255, 255));

}
.imgcent{
    text-align: center;
    float: right;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    ;
}
.splash{
    width: 80vw;
}
.dataform{
    margin-left: 35vw;
    background-image: linear-gradient(to right,rgb(195, 225, 255) , white);
    padding: 15px;
    border-radius: 15px;
    font-size: large;
}
.logo{
    width: 30vw;
}

input[type="text"], input[type="email"], textarea,  input[type="submit"]
{
    font-size:24px;
}

.banner{
    position: static;
    top: 0;
    float: right;
    width: 20vw;
}

.banner2{
    position: static;
    top: 0;
    float: center;
    width: 20vw;
}

.imgtxt{
    float:left;
    margin-right: 20px;
    clear: left;
    width: 30vw;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 90vw;
  position: relative;
  margin: auto;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}