<!doctype html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <main>
        <div id="app" class="card">
            <h1>Online store</h1>
            <br>
            <input type="text" class="txt" id="txtsearch" v-model="txtsearch" value="" placeholder="Ingrese una palabra clave">
            <button class="boton1" v-on:click="buscar()">Buscar</button>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Rubro</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="articulos in articulos" :key="articulos.id_articulo">
                                    <td scope="row">{{articulos.id_articulo}}</td>
                                    <td>{{articulos.rubro}}</td>
                                    <td>{{articulos.descripcion}}</td>
                                    <td>{{articulos.precio}}</td>
                                    <td>{{articulos.stock}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>

  </script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/store.js"></script>
</body>
</html>
