<!doctype html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="css/index.css">

</head>




<body>
    <main>
        <img class="logo" src="img/Logo.gif" alt="Distribuidora New Way SRL"> 


        <div id="app" class="card">
            <br><br>  
            Cliente
            <input type="text" size="6" class="txt" id="cod_cli" v-model="cod_cli" value="" readonly>            
            Pedido #
            <input type="text" size="11" class="txt" id="pedidoactual" v-model="pedido" value="" readonly>
            Total $
            <input type="text" size="16" class="txt" id="totalpedido" v-model="total" value="" readonly>    
            <a class="boton1" v-on:click="nuevo()">Nuevo pedido</a>
            <a class="boton1">Ver pedidos</a>
            <br><br>
            <input type="text" class="txt" style="width:40vw" id="txtsearch" v-model="txtsearch" value="" placeholder="Ingrese una palabra clave">
            <a class="boton1" v-on:click="buscar()">Buscar</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Rubro</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="articulos in articulos" :key="articulos.id_articulo">
                                    <td scope="row">{{articulos.id_articulo}}</td>
                                    <td>{{articulos.rubro}}</td>
                                    <td>{{articulos.descripcion}}</td>
                                    <td>${{articulos.precio}}</td>
                                    <td>{{articulos.stock}}</td>
                                    <td>
                                        <a class="minboton1" v-on:click="agregar(articulos.id_articulo,articulos.descripcion,articulos.precio)">Agregar al pedido</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>

  </script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/store.js"></script>
</body>
</html>
